<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8"/>
    <title>Swellist | Feed Your Productive Side</title>
    <meta name="description"                content="Swellist turns your to-do list into a customized feed of useful tips, so you can get more done."/>
    <meta name="keywords"                   content="Help, Swellist, To-do, Expert, Concierge, Advice, Productivity, Work, Recommendation, Assistant, Research, Helpful, Planner, Gift, Task, Todo"/>
    <link rel="manifest"                    href="/manifest.json">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport"                   content="width=device-width, initial-scale=1.0"/>

    <!-- Open Graph Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:site_name"           content="Swellist" />
    <meta property="og:url"                 content="https://swellist.com/" />
    <meta property="og:type"                content="product" />
    <meta property="og:title"               content="Feed your productive side" />
    <meta property="og:description"         content="Swellist turns your to-do list do into a customized feed of useful tips, so you can get more done."/>
    <meta property="og:image"               content="http://static.swellist.com/images/hero_sf.jpg" />

    <!-- Twitter Card
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="twitter:card"               content="summary_large_image">
    <meta name="twitter:site"               content="@Tryswellist">
    <meta name="twitter:creator"            content="@Tryswellist">
    <meta name="twitter:title"              content="Swellist | Feed Your Productive Side">
    <meta name="twitter:description"        content="Swellist - Get a continuous stream of personalized tips and insights to help with your to-dos.">
    <meta name="twitter:image"              content="http://static.swellist.com/images/hero_sf.jpg">

    <!-- Pinterest Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="p:domain_verify"            content="0ecd5972770a30d7f4e86f5d7b065fbb"/>
    <meta property="newyork:location:latitude"  content="40.771133" />
    <meta property="newyork:location:longitude" content="-73.974187" />
    <meta name="p:domain_verify"            content="6313c037a9a8dcca58d133e0e07caa2a" />

    <!-- Bookmark Favicons for Apple Devices
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/images/swellist/apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/swellist/apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/swellist/apple-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/swellist/apple-touch-icon-ipad-retina.png">

    <!-- Fonts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/swellist-404.css" />
    <link rel="stylesheet" href="/stylesheets/skeleton.css" />

</head>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>

    <header class="home-header">
        <div class="container nav-container">
            <div class="row nav">
                <div class="one-third column navbar-left">
                    <a class="nav-item" href="/dashboard#/login">
                        <div>Sign In</div>
                    </a>
                    <a class="nav-item" href="/dashboard">
                        <div class="signup">Sign Up</div>
                    </a>
                </div>
                <div class="one-third column navbar-logo">
                    <a class="swellist-logo" href="http://swellist.com/swellist">Swellist</a>
                </div>
                <div class="one-third column navbar-right">
                    <a class="nav-item" href="/dashboard#/login">
                        <div>Sign In</div>
                    </a>
                    <a class="nav-item" href="/dashboard">
                        <div class="signup">Sign Up</div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="section hero">
        <div class="container hero-container">
            <div class="row">
                <div class="one-half column">
                    <h1>404</h1>
                    <h4 class="hero-heading">Sorry, we cannot find the page you are looking for. Use the navigation above to find your way.</h4>
                    <!-- <a class="button button-primary" href="/dashboard">Get Started</a> -->
                </div>
                <div class="one-half column phones">
                    <img class="phone" src="http://static.swellist.com/images/phone-running-2x.png">
                    <img class="phone" src="http://static.swellist.com/images/phone-running-citrus-2x.png">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="download-button">
            <a href="/swellist" class="swellist-logo">Swellist</a>
            <a href="/dashboard">
                <button class="button button-primary">Get Started</button>
            </a>
        </div>
        <ul id="footer-nav" class="footer-nav">
            <a href="mailto:support@swellist.com">
                <li>Contact Support</li>
            </a>
            <a href="/terms">
                <li>Terms and Privacy</li>
            </a>
            <a href="/faqs">
                <li>FAQ</li>
            </a>
            <a href="/how">
                <li>Learn More</li>
            </a>
            <a href="http://blog.swellist.com/">
                <li>Blog</li>
            </a>
            <a href="/dashboard#/login">
                <li class="signin">Sign In</li>
            </a>
        </ul>
        <ul id="social-media" class="social-media">
            <a href="https://twitter.com/TrySwellist">
                <li class="twitter">Twitter</li>
            </a>
            <a href="https://www.facebook.com/swellist">
                <li class="facebook">Facebook</li>
            </a>
            <a href="https://www.pinterest.com/swellistapp/">
                <li class="pinterest">Pinterest</li>
            </a>
        </ul>
    </footer>
</body>

