<html>
<head>
    <link href="/stylesheets/swellist-feed.css" rel="stylesheet"/>
</head>
<body id="admin-gate">
<div id="form-container">
    {{#if showform}}
    <form action="/forgotpassword" method="post">
        <div class="form-group">
            <label for="email">Enter your email to reset your password</label>
            <input id="email" type="text" name="email" class="large"></input>
        </div>
        <button type="submit" class="Button">Submit </button>
    </form>
    {{/if}}
    {{#if showsuccess}}
        <div class="text-center">Please check your email to reset your password.</div>
    {{/if}}
    {{#if error}}
    error: {{errorText}}
    {{/if}}
    {{#if changepassword}}
    <form action="/changepassword" method="post">
        <input id="email" type="hidden" name="email" value="{{email}}"></input>
        <input id="token" type="hidden" name="token" value="{{token}}"></input>
        <label for="pass" class="label">New Password:</label>
        <input id="pass" type="password" name="pass" placeholder="New password" class="form-control text large"></input>
        <button type="submit" class="btn btn-ruby btn-lg">Submit</button>
    </form>
    {{/if}}
</div>
</body>
</html>