<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <script src="/javascripts/lib/jquery-2.1.3.min"></script>
    <script type="text/javascript">

    </script>
</head>

<body>
<div id="topnav">
    <a id="logo" href="/">Swell - User CS Tools</a>
    <a id="signout" href="/logout">Sign Out</a>
</div>
<div id="user-page-container">
    <div id="content-container" class="container">
        <h1>CS Tools</h1>
        <hr></hr>
        <h2>Notifs</h2>
        <form action="/cstools/user/{{uid}}/notifs" method="post" name="addadmin">
            <select name="notifType" >
                <option selected="true" style="display:none;">Notification Preference</option>
                <option value="notifyEmail">Email</option>
                <option value="notifySMS">SMS</option>
                <option value="notifyApps">Apps (Developer)</option>
                <option value="notifyFB">Facebook</option>
            </select>
            <select name="isOn" >
                <option selected="true" style="display:none;">Notification Preference</option>
                <option value="true">On</option>
                <option value="false">Off</option>
            </select>
            <input type="submit" name="submit" value="Submit"/>
        </form>

    </div>
</div>
</body>
</html>