<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Swell is a free recommendation app that's powered by a team of experts who help you complete your tasks. Enter your to-dos and we'll find personalized tips tailored to you."/>
    <meta name="keywords" content="Help, Swell, Expert, Concierge, Advice, Babysitter, Work, Recommendation, Assistant, Research, Helpful, Planner, Gift, Task, Todo"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <title>Swellist | What is Swellist?</title>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Fonts from Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>

    <!-- Swell stylesheets -->
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/persona-main.css" />
    <link rel="stylesheet" href="stylesheets/persona-mobile.css" />
    <link rel="stylesheet" href="stylesheets/swellist_landing.css" />
    
    <!-- Optimizely -->
    <script src="//cdn.optimizely.com/js/3554651271.js"></script>

    <!-- Swell JS -->
    <script src="js/main.js"></script>
    <script src="js/persona.js"></script>

    <!-- Pinterest Verification -->
    <meta name="p:domain_verify" content="6313c037a9a8dcca58d133e0e07caa2a" />

    <!-- GA Tracking -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55350538-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Inspectlet -->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 471663260]);
        (function() {
            function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
            if (window.attachEvent){
                window.attachEvent('onload', __ldinsp);
            }else{
                window.addEventListener('load', __ldinsp, false);
            }
        })();
    </script>

    <!-- FB Tracking -->
    <script>(function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6010024898561', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt=""
                   style="display: none"
                   src="https://www.facebook.com/tr?ev=6010024898561&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
</head>
<body class="what">
<div id="container">
    <header class="home-header">
        <ul class="nav">
            <a href="http://swellist.com/">
                <li class="home">Swellist</li>
            </a>
            <a href="https://twitter.com/TrySwellist" onclick="ga('send', 'event', 'button', 'twitter');">
                <li class="twitter">Twitter</li>
            </a>
            <a href="https://www.facebook.com/swellist" onclick="ga('send', 'event', 'button', 'facebook');">
                <li class="facebook">Facebook</li>
            </a>
			<a href="http://swellist.com/dashboard">
                <li class="about-us">Get Help Now</li>
            </a>        </ul>
    </header>
     <section id="main" class="faqs">
        <div id="title" class="opener">
        </div>
        <!--                <a href="https://goo.gl/jLw8HK">
                           <button>Get Started</button>
                       </a> -->
    </section>
    <section id="content">
        <div id="mission-statement">
            <h1>Our Mission</h1>
            <p>Swellist supercharges your to-do list by adding helpful information to your tasks, all while quietly working in the background. Swellist analyzes your tasks and habits to generate a personalized feed that contains a dynamic list of ideas, insights, and interesting analytics to help you get more done. It’s seamless, unobtrusive, and gives you tips you didn’t even know you needed. </p>
            
            <p>Lots of things! For example, if your to-do list includes a task to purchase running shoes, we can hunt down the right pair, based on what we know about you. If you need to make dinner reservations for a special occasion, we can find the perfect restaurant in your area. Booking a vacation to Paris? Swellist can round up a list of things to do and see while you’re there. And the best part is, we do it automatically - you don’t need to do anything extra.</p>
           
            <p>In addition to getting tasks done, Swellist can help you understand how you work. We'll include a breakdown of your productivity and your habits in your Swellist feed, so you can see which tasks end up slipping through the cracks week after week or identify the areas that might need extra attention or new strategies. Our goal is to help you learn more about yourself so you can make adjustments, be more efficient, and free up time to do the things you love to do. And if you need any ideas along those lines, your Swellist feed will also keep you informed of new restaurants, concerts, and other cool events happening around you.</p>

            <p>Magic! No, not really, but sometimes it may feel that way. Swellist uses lots of algorithms to analyze your past and current tasks and fun questionnaires to build an accurate picture of who you are and what kind of things you like. The more we learn about you, the more we’re able to provide you with personalized and meaningful tips.</p>

            <h1>At Swellist, we strive to be:</h1>
            <ul>
            	<li>
            		<h2>Helpful.</h2>
            		<p>Above all else, our goal is to be helpful to you. If you aren't getting your tasks done with less effort, then we aren't doing our job. </p>
        		</li>
        		<li>
        			<h2>Invisible.</h2> 
        			<p>Swellist works quietly in the background, looking for ways to help you, without being annoying or distracting.</p>
    			</li>
    			<li>
        			<h2>Intuitive.</h2>
        			<p>Our goal is to send you the right information at the right time (which we believe is before you actually need it).</p>
    			</li>
    			<li>
        			<h2>Personalized.</h2> 
        			<p>Our help is much more useful if it fits who you are, so we always factor in your preferences before sending you tips.</p>
    			</li>
    			<li>
        			<h2>Intelligent.</h2> 
        			<p>We learn from your habits and get smarter over time. The more you personalize Swellist, the more it can help.</p>
    			</li>

        </div>
       <footer>
    <div class="download-button">
        <a href="/swellist" class="swellist-logo">Swellist</a>
        <a href="/dashboard#/signup">
            <button class="button button-primary">Get Started</button>
        </a>
    </div>
    <ul id="footer-nav" class="footer-nav">
        <a href="mailto:support@swellist.com">
            <li>Contact Support</li>
        </a>
        <a href="/terms">
            <li>Terms and Privacy</li>
        </a>
        <a href="/faqs">
            <li>FAQ</li>
        </a>
        <a href="/how">
            <li>Learn More</li>
        </a>
        <a href="/pricing">
            <li>Pricing</li>
        </a>
        <a href="http://blog.swellist.com/">
            <li>Blog</li>
        </a>
        <a href="/dashboard#/login">
            <li class="signin">Sign In</li>
        </a>
    </ul>
    <ul id="social-media" class="social-media">
        <a href="https://twitter.com/TrySwellist">
            <li class="twitter">Twitter</li>
        </a>
        <a href="https://www.facebook.com/swellist">
            <li class="facebook">Facebook</li>
        </a>
        <a href="https://www.pinterest.com/swellistapp/">
            <li class="pinterest">Pinterest</li>
        </a>
    </ul>
</footer>
    </section>
</div>
</body>
</html>