<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8"/>
    <title>Swellist | Personalized Lifestyle Concierge </title>
    <meta name="description"                content="Swellist - personalized lifestyle concierge. Be your best self."/>
    <meta name="keywords"                   content="Help, Swellist, To-do, Expert, Concierge, Advice, Productivity, Work, Recommendation, Assistant, Research, Helpful, Planner, Gift, Task, Todo"/>
    <link rel="manifest"                    href="/manifest.json">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport"                   content="width=device-width, initial-scale=1.0"/>

    <!-- Open Graph Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:site_name"           content="Swellist" />
    <meta property="og:url"                 content="https://swellist.com/" />
    <meta property="og:type"                content="product" />
    <meta property="og:title"               content="Swellist - personalized lifestyle concierge" />
    <meta property="og:description"         content="Swellist - personalized lifestyle concierge. Be your best self."/>
    <meta property="og:image"               content="http://static.swellist.com/images/how_hero.jpg" />

    <!-- Twitter Card
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="twitter:card"               content="summary_large_image">
    <meta name="twitter:site"               content="@Tryswellist">
    <meta name="twitter:creator"            content="@Tryswellist">
    <meta name="twitter:title"              content="Swellist | Personalized Lifestyle Concierge">
    <meta name="twitter:description"        content="Swellist - personalized lifestyle concierge. Be your best self.">
    <meta name="twitter:image"              content="http://static.swellist.com/images/how_hero.jpg">

    <!-- Pinterest Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="p:domain_verify"            content="0ecd5972770a30d7f4e86f5d7b065fbb"/>
    <meta property="newyork:location:latitude"  content="40.771133" />
    <meta property="newyork:location:longitude" content="-73.974187" />
    <meta name="p:domain_verify"            content="6313c037a9a8dcca58d133e0e07caa2a" />

    <!-- Bookmark Favicons for Apple Devices
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/images/swellist/apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/swellist/apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/swellist/apple-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/swellist/apple-touch-icon-ipad-retina.png">

    <!-- Fonts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/swellist-landing-resp.css" />
    <link rel="stylesheet" href="/stylesheets/swellist-team.css" />
    <link rel="stylesheet" href="/stylesheets/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css"/>

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/jquery.min.js"></script>
    <script src="js/swellist-landing.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/slick.js"></script>

    <!-- Optimizely
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//cdn.optimizely.com/js/4530201913.js"></script>

    <!-- Mixpanel
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("4f65c8097814584ec4269a19b8aaacb8");</script>
    <script type="text/javascript">
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var viewProps = {};
        var ref = getParameterByName("ref");
        if( ref ) {
            viewProps.ref = ref;
        }
        var campaign = getParameterByName("campaign");
        if( campaign ) {
            viewProps.campaign = campaign;

            document.cookie = "campaign="+campaign+";path=/;max-age="+(60*60*24*365).toString()+";expires="+new Date(new Date().setYear(new Date().getFullYear() + 1)).toUTCString()+";";

            mixpanel.people.set({
                "campaign": campaign
            });
        }
        mixpanel.track("LandingPage_View", viewProps);
    </script>

    <!-- Google Analytics Tracking
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55350538-3', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Inspectlet Embed
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 634618853]);
        (function() {
            function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
            setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
        })();
    </script>

    <!-- Facebook Tracking
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>(function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6010024898561', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt=""
                   style="display: none"
                   src="https://www.facebook.com/tr?ev=6010024898561&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
</head>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>

    <header class="home-header">
        <div class="container nav-container">
            <div class="row nav">
                <div class="one-third column navbar-left">
                </div>
                <div class="one-third column navbar-logo">
                    <a class="swellist-logo" href="http://swellist.com/swellist">Swellist</a>
                </div>
                <div class="one-third column navbar-right">
                    <a class="nav-item" href="/dashboard#/login">
                        <div>Sign In</div>
                    </a>
                    <a class="nav-item" href="/dashboard#/signup">
                        <div class="signup">Sign Up</div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="heroImage" >
        <div class="hero heroImg-1">
            <div class="container section hero-container">
                <div class="row">
                    <div class="ten columns">
                        <h1>WE USED SWELLIST TO</h1>
                        <div class="hero-example">Plan a trip to Brazil</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero heroImg-2">
            <div class="section container hero-container">
                <div class="row">
                    <div class="ten columns">
                        <h1>WE USED SWELLIST TO</h1>
                        <div class="hero-example">Learn to Cook</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero heroImg-3">
            <div class="section container hero-container">
                <div class="row">
                    <div class="ten columns">
                        <h1>WE USED SWELLIST TO</h1>
                        <div class="hero-example">Plan Healthy Meals</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero heroImg-4">
            <div class="section container hero-container">
                <div class="row">
                    <div class="ten columns">
                        <h1>WE USED SWELLIST TO</h1>
                        <div class="hero-example">Train for the Madrid Marathon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-wrapper" id="menu-wrapper">
        <header id="site-header" class="site-header">
            <nav>
                <ul>
                    <li>
                        <a href="#company" class="nav-vert-item">COMPANY</a>
                    </li>
                    <li>
                        <a href="#team" class="nav-vert-item" >TEAM</a>
                    </li>
                    <!-- <li>
                        <a href="#investors" class="nav-vert-item" >INVESTORS</a>
                    </li> -->
                    <a href="/dashboard#/signup">
                        <li class="signup">Get Started</li>
                    </a>
                </ul>
            </nav>
        </header>
    </div>

    <div id="company" class="container white-background">
        <h5 class="intro-head">WHO ARE WE?</h5>
        <p>We started Swellist because we are a lot like you. We are busy. No matter who you are, chances are you have a list of things you can't get to. Things that you'd like to focus all of your energy on but don't have enough time or energy.</p>
        <p>That's where Swellist comes in.</p>
        <p>Our diverse backgrounds in technology and data analytics have allowed us to build a service that takes your to-dos and does the research for you, so you can get them done and off your list. What's that mean to you? More free time. And that's what we're all about.</p>
    </div>

    <div id="team" class="gray-background last-div">
        <div class="container">
            <h5 class="intro-head">THE TEAM</h5>
            <div class="member-profile">
                <img src="http://static.swellist.com/images/team/miguel.jpg" />
                <div class="member-name">MIGUEL GRICE-SANCHEZ</div>
                <p class="member-position">CEO and  Co-founder</p>
            </div>
            <div class="member-profile">
                <img src="http://static.swellist.com/images/team/robby.jpg" />
                <div class="member-name">ROBBY ABAYA</div>
                <p class="member-position">CTO and  Co-founder</p>
            </div>
            <div class="member-profile">
                <img src="http://static.swellist.com/images/team/angela.jpg" />
                <div class="member-name">ANGELA WANG</div>
                <p class="member-position">Designer</p>
            </div>
            <div class="member-profile">
                <img src="http://static.swellist.com/images/team/elizabeth.jpg" />
                <div class="member-name">ELIZABETH LOVERO</div>
                <p class="member-position">Software Engineer</p>
            </div>
        </div>
    </div>

    <!-- <div id="investors" class="container white-background">
        <h6 class="intro-head">OUR INVESTORS</h6>
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-betaworks.jpg" />
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-eniac.jpg" />
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-first-round.jpg" />
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-maveron.jpg" />
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-mesa.jpg" />
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-metamorphic.jpg" />
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-redpoint.jpg" />
        <img class="img-logo" src="http://static.swellist.com/images/team/logo-sv-angel.jpg" />
    </div> -->

    
    <footer>
        <div class="download-button">
            <a href="/swellist" class="swellist-logo">Swellist</a>
            <a href="/dashboard#/signup">
                <button class="button button-primary">Get Started</button>
            </a>
        </div>
        <ul id="footer-nav" class="footer-nav">
            <a href="mailto:support@swellist.com">
                <li>Contact Support</li>
            </a>
            <a href="/terms">
                <li>Terms and Privacy</li>
            </a>
            <a href="/faqs">
                <li>FAQ</li>
            </a>
            <a href="/how">
                <li>Learn More</li>
            </a>
            <a href="/pricing">
                <li>Pricing</li>
            </a>
            <a href="http://blog.swellist.com/">
                <li>Blog</li>
            </a>
            <a href="/dashboard#/login">
                <li class="signin">Sign In</li>
            </a>
        </ul>
        <ul id="social-media" class="social-media">
            <a href="https://twitter.com/TrySwellist">
                <li class="twitter">Twitter</li>
            </a>
            <a href="https://www.facebook.com/swellist">
                <li class="facebook">Facebook</li>
            </a>
            <a href="https://www.pinterest.com/swellistapp/">
                <li class="pinterest">Pinterest</li>
            </a>
        </ul>
    </footer>

    <!-- Mixpanel Tracking
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript">
        mixpanel.track_links("#site-header a", "LandingPage_Click", {
            "section": "site-header"
        });
        mixpanel.track_links("#footer-nav a", "LandingPage_Click", {
            "section": "footer-nav"
        });
        mixpanel.track_links("#social-media a", "LandingPage_Click", {
            "section": "social-media"
        });
        mixpanel.track_links("#features a", "LandingPage_Click", {
            "section": "features"
        });
        mixpanel.track_links("#product a", "LandingPage_Click", {
            "section": "product"
        });
    </script>

    <!-- Pinterest Images
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/?tid=hTrRM4GJdie&value=0.00&quantity=1"/>
    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/?tid=PA4hkkLlR0M&value=0.00&quantity=1"/>

</body>
