<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Swellist - Reset Password</title>

  <!-- Fonts from Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <!-- Swellist stylesheets -->
  <link href="/stylesheets/swellist-feed.css" rel="stylesheet" />

  <!-- Javascript -->
	<script type="text/javascript" src="//use.typekit.net/wtt2drb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body id="forgotPassword" class="Site">
<nav class="Navbar-onboard">
    <div class="Navbar-mid">
        <h2 class="swellistLogo">SWELLIST</h2>
    </div>
</nav>
<div class="signup-Back sign-no-image">
  <div id="content" class="form-box">
  	<div id="form-container" class="signup-Back sign-no-image">
  		{{#if showform}}
  		{{message}}
    <h1 class="form-signin-heading text-center forgot">Forgot your password?</h1>
    <p class="form-signin-subtitle text-center forgot">Enter your email address and we'll send password reset
          instructions.</p>
  		
      <form action="/forgotpassword" method="post" class="password-form forgot-form">
  			<input id="email" type="text" name="email" placeholder="Enter your email" class="form-control-email"></input>
        <div class="doubleButtons">
  			   <input type="submit" value="Submit" class="Button"></input>
           <input type="button" onclick="location.href='/dashboard'" value="Cancel" class="Button"></input>
        </div>
  		</form>
  		{{/if}}
  		{{#if showsuccess}}
        <h1 class="form-signin-heading text-center forgot">Sent</h1>
  	    <p class="form-signin-subtitle text-center forgot">Please check your email to reset your password.</p>
  		{{/if}}
  		{{#if error}}
      <h1 class="form-signin-heading text-center forgot">Error</h1>
  		<p class="form-signin-subtitle text-center forgot">{{message}}</p>
  		{{/if}}
  		{{#if changepassword}}
                  {{#if success}}
                  <h1 class="form-signin-heading text-center forgot">Success</h1>
                  <p class="form-signin-subtitle text-center forgot">Your password has been changed.</p>
                  {{/if}}
                  <h1 class="form-signin-heading text-center forgot">Change your password</h1>
                  <form action="/changepassword" method="post" class="password-form forgot-form">
                      <input id="email" type="hidden" name="email" value="{{email}}"></input>
  				            <input id="token" type="hidden" name="token" value="{{token}}"></input>
                      <input id="pass" type="text" name="pass" placeholder="New password" class="form-control-password"></input>
                      <div class='doubleButtons'>
                        <input type="submit" value="Submit" class="Button"></input>
                      </div>
                  </form>
  		{{/if}}
  	</div>
  </div>
</div>

</body>
</html>
