/*
Website Name: Swellist Example
Description: Get a continuous stream of personalized tips to help with your to-dos
Author: Simple Labs Inc.
URI: http://www.swellist.com/example
Tags: Swellist, Responsive, Website, Landing Page
*/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.swellist-logo {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px;
    text-shadow: rgba(0, 0, 0, 0.309804) 0px 1px 1px;
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(95, 207, 182);
    text-align: center;
    width: 100%;
    margin: 0 auto .5em auto;
}

h2 {
    color: #9B9B9B;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1px;
}

h7 {
    color: #5FCFB6;
    text-transform: uppercase;
    letter-spacing: 0px;
}
p {
    font-family: "Lora", Georgia, serif;
    text-align: center;
    font-size: 1.7rem;
    color: #4A4A4A;
    line-height: 30px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 9rem 0 12rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home-header {
    left: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.nav-item {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    color: #5FCFB6;
    display: inline-block;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 0 23px 0;
    width: 100%;
}

.navbar-left {
    visibility: hidden;
    display: none;
}
.navbar-right {
    display: none;
}

.navbar-logo {
    text-align: center;
}
.navbar-logo > a.swellist-logo{
    color: #5FCFB6 !important;
}

.signup {
    margin: 0 2em;
    background-color: rgb(95, 207, 182);
    padding: .6em 1.5em;;
    -webkit-border-radius: 20px;
    border-radius: 25px;
    display: inline-block;
    color: rgb(255, 255, 255) !important;
}

.signup:hover {
    color: rgb(95, 207, 182) !important;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(95, 207, 182);
    cursor: pointer;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero h1 {
    color: #5FCFB6;
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.15);
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 400; 
    visibility: visible;
    text-align: center;
}

#hero-example {
    font-family: "Lora", Georgia, serif;
    color: #5FCFB6;
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.15);
    font-style: italic;
    text-transform: capitalize;
    font-size: 5.0rem;
    line-height: 50px;
    letter-spacing: 2.4px;
}


/* Div Backgrounds
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gray-background {
    margin-bottom: 3em !important;
    padding: 2rem !important;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.white-background {
    padding: 2rem !important;
    background-color: #ffffff;
    margin-top: 3em;
    margin-bottom: 0em;
    text-align: center;
}

/* SubNav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#subnav {
    text-align: center !important;
}
#subnav2 {
    text-align: center !important;
    margin-bottom: 3em;
    margin-top: 0em;
}
.example-selected {
    display: table;
    margin-bottom:5px;
    border-bottom: 2px solid;
}

/* Photo Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#photoHeader {
    background-image: url('http://static.swellist.com/images/flushing/flushing-header.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photoCaption{
    color: white;
    font-size: 2rem;
    margin: 15rem 0;
}

/* Example Body 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#example-body {
    padding-top: 8rem !important;
}

/* Testimonial 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#recommendations, #how, #largeCarousel {
    margin: 8rem 0; 
}
.img-circle {
    border-radius: 50%;
    padding-top: 16px;
    padding-bottom: 24px;
    height: 167px;
}
.title-text {
    color: #9B9B9B;
    font-weight: bold;
    font-size: 2rem;
}
.title-underline {
    padding-bottom: 1.25rem;
    border-bottom: 2px solid #D8D8D8;
}

/* Recommendations  
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#recos {
    background-color: white;
    width: 100%;
}

/* Large Carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
div#carousel h2 {
    margin-bottom: 6rem;
    margin-top: 4rem;
}

.last-div {
    margin-bottom: 0 !important;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 90%;
    -ms-touch-action: pan-y;
    margin: auto;
}

.owl-controls {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    text-align: center;
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    float: left;
}

.item img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto 0 auto;
   padding: 16px;
}

.item p {
    padding-right: 6%;
    padding-left: 6%;
    margin-bottom: 0;
}

.owl-page {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
}

.owl-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    display: none;
    position: relative;
}

.owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel h6 {
    color: rgb(83, 83, 83);
    margin: 2em 0 2em 0;
    text-transform: uppercase;
}

.owl-carousel p {
    text-align: left;
    color: #4A4A4A; 
    font-size: 15px;
}
.owl-carousel .subtitle {
    text-align: left;
    line-height: 21px;
    margin-top: 10px;
}
.subtitle {
    padding-bottom: 16px;
}


/* How
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#how p{
    text-align: left;
}
.how-help{
    margin-top: 24px;
}
.calendar:before {
    content: url('http://static.swellist.com/images/Brazil/Reminder.png');
    padding-right: 10px;
}
.check:before {
    content: url('http://static.swellist.com/images/Brazil/check.png');
    padding-right: 10px;
}

/* Proof Photos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#proofPhotos {
    height: 100%;
    width: 100%;
    padding: 0 !important;
}
.photos {
    background-size: cover;
    background-position: center center;
    text-align: left !important;
    padding-top: 20rem;
    padding-bottom: 20rem;
    height: 450px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.arrow-right {
    margin-right: 2rem;
}
.arrow-left {
    margin-left: 2rem;
}
.photo1 {
    background-image: url('http://static.swellist.com/images/flushing/chinatown-proof.jpg');
}
.photo2 {
    background-image: url('http://static.swellist.com/images/flushing/mets-proof.jpg');
}
.photo3 {
    background-image: url('http://static.swellist.com/images/flushing/temple-proof.jpg');
}

/* Next Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nextTitle {
    text-align: right;
    margin-bottom: 0;
}
.nextTitle:after {
    padding-left: 10px;
    padding-top: 20px;
    content: url('http://static.swellist.com/images/Brazil/next-example.png');
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    background: #4a4a4a;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 40px 40px 150px 40px;
    z-index: 1;
}

.download-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em !important;
    align-items: center;
    margin-top: 1em;
}

.download-button a {
    margin-bottom: 1em;
}

footer ul {
    margin: 0 0 1.5em 0;
    padding-left: 0;
    clear: both;
    text-align: center;
}

footer li {
    font-size: 13px;
    display: inline;
    margin: 0.7em;
}

footer a {
    color: rgb(255, 255, 255);
}

.twitter {
    background: url("/images/swellist/twitter-icon-white.svg") no-repeat center center;
    height: 24px;
    width: 24px;
    text-indent: -9999px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    color: transparent;
}

.facebook {
    background: url("/images/swellist/facebook-icon-white.svg") no-repeat center center;
    height: 22px;
    width: 22px;
    text-indent: -9999px;
    margin: 10px 10px 0px 10px;
    color: transparent;
}

.pinterest {
    background: url("/images/swellist/pinterest-icon-white.svg") no-repeat center center;
    height: 22px;
    width: 22px;
    text-indent: -9999px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    color: transparent;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
    .section {
        padding: 12rem 0 5rem !important;
        text-align: center;
    }
}

/* Larger than phablet (also point when grid becomes active) - Bigger than 550 */
@media (min-width: 550px) {

    /* Hero and Header
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .nav {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        padding: 0 0 23px 0;
        width: 100%;
    }
    .navbar-left {
        visibility: visible;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .navbar-left >.nav-item {
        padding-left: 3.5em;
    }

    .navbar-right {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: baseline;
    }

    .nav-container {
        width: 100% !important;
        max-width: 1400px !important;
    }

    .nav-item {
        padding: 0px;
    }

    .section {
        padding: 12rem 0 5rem;
    }

    .hero {
        padding: 7rem 0;
        text-align: center !important;
    }

    .hero h1 {
        font-size: 3.0rem;
        visibility: visible;
    }

    .hero-container {
        width: 90% !important;
    }

    .hero h1 {
        text-align: center;
    }


    /* Scrollable Phone
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .web-how-we-do {
        display: inline;
        height: 100%;
        width: 100%;
    }

    .mobile-how-we-do {
        height: 0;
        width: 0;
        display: none;
    }

    .how-we-do {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 3em auto 6em auto !important;
        max-width: 1800px;
    }

    .to-do-list-group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 20px;
    }

    .sample-list {
        padding-top: 1px;
    }

    .sample-list h2 {
        color: rgb(83, 83, 83) !important;
        margin: 35px 0 35px 0 !important;
        text-align: left;
    }

    .sample-list-list {
        padding: 0 !important;
        -webkit-padding-start: 0 !important;
        margin: 0 !important;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
    }

    .sample-list-list li {
        font-family: 'Lora', serif;
        font-size: 17px;
        color: #878787 !important;
        list-style-type: none;
        text-align: left;
        line-height: 30px;
        list-style-position: outside;
        padding: 0;
        margin-bottom: 25px;
    }

    .user-icon {
        padding-right: 22px;
    }

    .phone-fixed {
        height: 500px;
    }

    .phone-holder {
        background: url("/images/swellist/iphone.png") no-repeat center center;
        height: 552px;
        width: 270px;
        cursor: url("/images/swellist/scroll-new2.ico"), auto;
    }

    .phone-scroll {
        position: relative;
        top: 77px;
        left: 24px;
        overflow: scroll;
        height: 396px;
        width: 226px;
    }

    .phone-inner {
        background: url("http://static.swellist.com/images/updated-feed-1x.png") no-repeat center top;
        width: 224px;
        height: 5315px;
        position: relative;
        z-index: 1;
    }

    .phone-overlay {
        width: 226px;
        height: 396px;
        background-color: rgba(74, 74, 74, .6);
        color: white;
    }

    .phone-overlay img {
        margin: 0 !important;
        padding-top: 290px;
    }

    .phone-overlay h3 {
        margin: 0;
        padding-top: 10px;
        text-align: center;
    }

    /* Step By Step
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .step-by-step-list {
        overflow: auto;
    }

    .step-title-web {
        display: block;
        color: #9b9b9b;
        text-transform: uppercase;
    }

    .step-title-mobile {
        display: none;
    }

    .step-by-step-list {
        margin: 0 auto;
        padding: 0 1em;
        margin-bottom: 4em;
        text-align: center;
    }

    .step-by-step-list img {
        width: 80%;
        margin: 3rem 0;
    }

}

/* Larger than tablet - Bigger than 750 */
@media (min-width: 750px) {
    /* Hero and Nav*/
    .hero {
        padding: 7rem 0;
    }

    .hero-heading {
        font-size: 2.0rem;
        line-height: 30px;
    }

    .section {
        padding: 12rem 0 5rem;
    }

    .hero {
        padding: 7rem 0 7rem;
    }

    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .categories {
        padding: 15rem 0 8rem;
    }

    header.sticky-nav nav ul li {
        display: inline;
        margin: 1.5rem .75rem 0rem;
    }

    /* Step by Step */
    .container .white-background {
        width: 100%
    }

    .step-by-step-list {
        margin: 0 auto;
        padding: 0 1em;
        text-align: center;
    }

    .step-by-step-list img {
        width: 75%;
    }

}

/* Larger than desktop - Bigger than 1000 */
@media (min-width: 1000px) {
    .section {
        padding: 12rem 0 5rem;
    }

    .hero {
        padding: 7rem 0;
    }
    .hero-heading {
        font-size: 2.0rem;
        line-height: 30px;
    }

    header.sticky-nav nav ul li {
        display: inline;
        margin: 0 1.5em;
    }

    .step-by-step-list {
        margin: 0 auto;
        padding: 0 1em;
        text-align: center;
    }

    .step-by-step-list img {
        width: 60%;
    }

    #step-by-step {
        max-width: 2000px !important;
    }

    #carousel {
        max-width: 2000px !important;
    }

    .nav-item {
        padding: 0 15px 0 0;
    }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    #carousel {
        max-width: 2800px !important;
    }
}