/*
Website Name: Swellist
Description: Get a continuous stream of personalized tips to help with your to-dos
Author: Simple Labs Inc.
URI: http://www.swellist.com/
Tags: Swellist, Responsive, Website, Landing Page
*/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.swellist-logo {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px;
    text-shadow: rgba(0, 0, 0, 0.309804) 0px 1px 1px;
    text-transform: uppercase;
}
h1 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(95, 207, 182);
    text-align: center;
    width: 100%;
    margin: 0 auto .5em auto;
}
h2 {
    color: rgb(155,155,155);
    text-transform: uppercase;
}
/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 12rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* ----------- Header ----------- */
.home-header {
    left: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.nav-item{
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    color: rgb(255, 255, 255) !important;
    display: inline-block;
}
.nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 0 23px 0;
    width: 100%;
}
.navbar-left {
    visibility: hidden;
    display: none;
}
.navbar-right {
    display: none;
}
.navbar-logo{
    text-align: center;
}
.signup {
    margin: 0 2em;
    background-color: rgb(95, 207, 182);
    padding: .6em 1.5em;;
    -webkit-border-radius: 20px;
    border-radius: 25px;
    display: inline-block;
}
.signup:hover {
    color: rgb(95, 207, 182) !important;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(95, 207, 182);
    cursor: pointer;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    background-image: url('http://static.swellist.com/images/sky.jpeg');
    background-size: cover;
    background-position: center center;
}
.hero h1 {
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.15);
    font-size: 15rem;
}
.hero-heading{
    font-family: "Crimson Text", Georgia, serif;
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.15);
    font-size: 2.2rem;
}
.phones {
    position: relative;
}
.phone {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -8rem;
}
.phone + .phone {
    display: none;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    background: #4a4a4a;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 40px 80px 150px 80px;
    z-index: 1;
}
.download-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em !important;
    align-items: center;
    margin-top: 1em;
}
.download-button a {
    margin-bottom: 1em;
}
footer ul {
    margin: 0 0 1.5em 0;
    padding-left: 0;
    clear: both;
    text-align: center;
}
footer li {
    font-size: 13px;
    display: inline;
    margin: 0.7em;
}
footer a {
    color: rgb(255, 255, 255);
}
.twitter {
    background: url("/images/swellist/twitter-icon-white.svg") no-repeat center center;
    height: 24px;
    width: 24px;
    text-indent: -9999px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    color: transparent;
}
.facebook {
    background: url("/images/swellist/facebook-icon-white.svg") no-repeat center center;
    height: 22px;
    width: 22px;
    text-indent: -9999px;
    margin: 10px 10px 0px 10px;
    color: transparent;
}
.pinterest {
    background: url("/images/swellist/pinterest-icon-white.svg") no-repeat center center;
    height: 22px;
    width: 22px;
    text-indent: -9999px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    color: transparent;
}




/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) - Bigger than 550 */
@media (min-width: 550px) {

    /* Hero and Header
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .nav {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        padding: 0 0 23px 0;
        width: 100%;
    }
    .navbar-left {
        visibility: hidden;
        display: block;
    }
    .navbar-right {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: baseline;
    }
    .nav-container {
        width: 100% !important;
        max-width: 1400px !important;
    }
    .nav-item {
        padding: 0px;
    }
    .section {
        padding: 12rem 0 11rem;
    }
    .hero {
        padding-bottom: 24rem;
        text-align: left;
        height: 165px;
    }
    .hero h1{
        font-size: 15.0rem;
    }
    .phone {
        position: absolute;
        top: -7rem;
        right: 3rem;
        max-height: 362px;
        z-index: 3;
    }
    .phone + .phone {
        top: -6rem;
        display: block;
        max-width: 73.8%;
        right: 0;
        z-index: 2;
        max-height: 338px;
    }
    .hero-heading {
        font-size: 2.4rem;
    }
    .hero-container {
        width: 90% !important;
    }
    .hero h1 {
        text-align: left;
    }

}

/* Larger than tablet - Bigger than 750 */
@media (min-width: 750px) {
    /* Hero and Nav*/
    .hero {
        height: 190px;
    }
    .hero-heading {
        font-size: 2.4rem;
    }
    .section {
        padding: 14rem 0 15rem;
    }
    .hero {
        padding: 22rem 0 24rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .phone {
        top: -14rem;
        right: 5rem;
        max-height: 510px;
    }
    .phone + .phone {
        top: -12rem;
        max-height: 472px;
    }
    .categories {
        padding: 15rem 0 8rem;
    }

}
/* Larger than desktop - Bigger than 1000 */
@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
    .hero {
        padding: 22rem 0 29rem;
    }
    .hero-heading {
        font-size: 2.6rem;
    }
    .phone {
        top: -14rem;
        right: 5rem;
        max-height: 510px;
    }
    .phone + .phone {
        top: -12rem;
        max-height: 472px;
    }
    .nav-item {
        padding: 0 15px 0 0;
    }

}
/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
